<div class="slide"
{% if include.image %}
style="background-image:url('{{ include.image }}');"
{% endif %}
>
    {% if include.link %}
    <a href="{{ include.link }}" target="_blank" rel="noopener" class="block-link">
    {% endif %}

        {% if include.video %}
        <video autoplay muted loop>
            <source src="{{ include.video }}" type="video/webm">
        </video>
        {% endif %}

        <div class="slide-tint"></div>

        <div class="container">
            <div class="slide-overlay">
                <h1><strong>{{ include.title }}</strong></h1>
                <p>{{ include.subtitle }}</p>
            </div>
        </div>
    {% if include.link %}
    </a>
    {% endif %}
</div>
