// MAIN CONTENT
$background-color: #000000;

$heading-text-color: #FFDA00;
$text-color: #FFFFFF;
$emphasis-text-color: #FF1B8D;

$code: #FFFFFF;
$link: $emphasis-text-color;
$blockquote: #FFFFFF;

// NAVBAR
$navbar-background: #FF1B8D;
$navbar-text-primary: #000000;
$navbar-text-secondary: #FFFFFF;

// FOOTER
$footer-background: #1BB3FF;
$footer-text: #000000;

// MISC ELEMENTS

$border-box: #FF1B8D;
