---
layout: page
---

<div class="text-center">
{{ content }}
</div>

{% for post in site.posts %}

<div class="post-banner">
    <a class="block-link" href="{{ post.url }}">
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                {% if post.image %}
                <img src="{{ post.image }}" loading="lazy">
                {% else %}
                <img src="{{ site.data.site.default_image }}" loading="lazy">
                {% endif %}
            </div>
            <div class="col-md-3 d-xs-block d-md-none">
                <hr>
            </div>
            <div class="col-md-9" style="display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <h1>{{ post.title }}</h1>
                    <p class="blog-excerpt">
                        {{ post.excerpt | strip_html }}
                    </p>
                </div>
                <p style="align-self: flex-end;">{{ post.date | date: "%m/%d/%Y" }}</p>
            </div>
        </div>
    </a>
</div>

{% endfor %}

<!--
<div class="tile-col col-lg-6">
    <a class="tile-link" href="{{ post.url }}">
        <div class="tile">

            {% if post.image %}
            <img src="{{ post.image }}" loading="lazy">
            {% else %}
            <img src="{{ site.data.site.default_image }}" loading="lazy">
            {% endif %}

            <div class="tile-caption">
                <h1>{{ post.title }}</h1>
                {{ post.excerpt | truncate: 150 }}
            </div>


            <div class="tile-cta d-none d-md-block">
                <span>Read</span>
                &nbsp;
                <i class="fas fa-arrow-right" aria-hidden="true"></i>
            </div>

            <div class="tile-year d-none d-md-block">
                <i class="fas fa-calendar-alt"></i>
                &nbsp;
                <span>{{ post.date | date_to_string }}</span>
            </div>
        </div>
    </a>
</div>
-->
